.dropdown {
    position: absolute;
    width: 619px;
    border-radius: 0px 0px 61px 61px;
    top: 376px
}

.darkDropdown {
    border: 1px solid white;
    color: white;
    border-top: 0px;
    background-color: #373737;
}

.lightDropdown {
    border: 1px solid black;
    color:black;
    border-top: 0px;
    background-color: white;
}

.invisible {
border: 0px;
display: none;
}

.visible {
    display: block;
}