.filter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.input {
    width: 500px;
    height: 52px;
    padding: 16px 20px;
}

.searchbutton {
    background: #572EE5;
    box-sizing: border-box;
    width: 90px;
    height: 52px;
    margin-left: -2px;
}
.input.showOptions.light {
    background-color: white;
    border: 1px solid #373737;
    color: #373737;
    border-radius: 30px 0px 0px 0px;
    border-right: 0px;
}
.input.notShowOptions.light {
    background-color: white;
    border: 1px solid #373737;
    color: #373737;
    border-radius: 61px 0px 0px 61px;
    border-right: 0px;
}


.searchbutton.notShowOptions.light {
    border: 1px solid #373737;
    border-radius: 0px 61px 61px 0px;
}

.searchbutton.showOptions.light {
    border: 1px solid #373737;
    border-radius: 0px 30px 0px 0px;
}

.input.showOptions.dark {
    background-color: #373737;
    border: 1px solid #FFFFFF;
    color: white;
    border-radius: 30px 0px 0px 0px;
    border-right: 0px;
}
.input.notShowOptions.dark {
    background-color: #373737;
    border: 1px solid #FFFFFF;
    color: white;
    border-radius: 61px 0px 0px 61px;
    border-right: 0px;
}


.searchbutton.notShowOptions.dark {
    border-radius: 0px 61px 61px 0px;
    border: 1px solid #FFFFFF;
}

.searchbutton.showOptions.dark {
    border-radius: 0px 30px 0px 0px;
    border: 1px solid #FFFFFF;
    border-left: 0px;
}


.temporal.light {
    width: 20px;
    padding-right: 30px;
    border: 1px solid #373737;
    border-left: 0px;
    height: 52px;
}

.temporal.dark {
    width: 20px;
    padding-right: 30px;
    border: 1px solid #FFFFFF;
    border-left: 0px;
    height: 52px;
}