.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vh;
}

.light {
    color: #572EE5;
    font-weight: 500;
}

.dark {
    color: white;
    font-weight: 500;
}

.span {
    font-weight: 700;
}